@model NewCMSClient.Models.NewsViewModels.NewsListModel

<div class="h5 mb-5 fw-bold">لیست خبرها</div>

<div class="text-end mb-2">
    <a asp-action="Save" class="btn btn-success btn-sm"> افزودن خبر</a>
</div>
<div class="rounded border p-4">
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>شناسه</th>
                    <th>عنوان</th>
                    <th>تاریخ</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var news in Model.queryResult)
                {
                    <tr>
                        <th>@news.id</th>
                        <td>
                            <a href="/news/detail?id=@news.id" class="text-decoration-none"> @news.title</a>
                        </td>
                        <td>@news.insertDate.ToShortDateString()</td>
                        <td>
                            <button class="btn btn-sm btn-light" title="حذف خبر" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <span class="mdi mdi-trash-can-outline mdi-18px text-danger"></span>
                            </button>
                            <button class="btn btn-sm btn-light" title="ویرایش خبر">
                                <span class="mdi mdi-pencil mdi-18px text-info"></span>
                            </button>
                        </td>
                    </tr>
                }
          
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination  justify-content-end">
            <li class="page-item disabled">
                <a class="page-link"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>