<!DOCTYPE html>
<html dir="rtl">

<head>
    <title>Tiitle</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/materialdesignicons/dist/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/iransans/dist/css/iransans/iransans-fontface.css">



    <link rel="stylesheet" type="text/css" href="css/style.min.css">
</head>

<body class="d-flex flex-column">

    <!-- header -->
    <header class="py-3 mb-4 border-bottom bg-light-400">
        <div class="container">
            <div class="fs-5">سامانه مدیریت محتوا</div>
        </div>
    </header>

    <!-- content -->
    <div class="container flex-grow-1">
        @RenderBody()
    </div>
    <!-- <module href="/components/detail.html"></module> -->
    <!-- <module href="/components/list.html"></module> -->
    <!-- footer -->
    <footer class="py-3 border-top mt-auto bg-light-400">
        <div class="container text-muted">
            کلیه حقوق این سامانه برای تولید کننده محفوظ می باشد.
        </div>
    </footer>

</body>

</html>